	body{
    max-width: 75%;
    margin: 0 auto;
    font-size: 125%;
    font:125% Segoe UI;
    }


.chk{
	font-family: 'Nanum Pen Script';
	text-align: left;
	font-size: 500%;
}

.box{
	margin-bottom:20px;
	padding:20px;
	border: 2px solid #b3b3b3;
	border-radius: 15px;
}

a{
	text-decoration: none;
	color: #404040;
}

.posttitle{
	color: #333
}

img{
	max-width: 100%
}

.section{
	display: grid;
	grid-template-columns: lfr lfr;
}

