	body {
	    max-width: 75%;
	    margin: 0 auto;
	    font-size: 150%;
	    font: "Georgia";
	    background-color: #f8f9f9;
	}



	.post_body {
	    max-width: 120%;
	    font-size: 103%;
	    font: "Georgia";
	    background-color: #f8f9f9;
	    line-height: 1.4;
	}

	.disclaimer {
	    font-size: 60%;
	}



	.box {
	    margin-bottom: 20px;
	    padding: 20px;
	    border: 2px solid #b3b3b3;
	    border-radius: 15px;
	}

	.home_url {
	    text-decoration: none;
	    color: #404040;
	}

	a {
	    text-decoration: underline;
	    color: mediumblue;

	}

	blockquote {
	    font-size: 135%;
	    color: #757575;
	}

	.posttitle {
	    color: #333
	}

	img {
	    max-width: 100%;
	    border-radius: 15px;
	    display: block;
	    margin-left: auto;
	    margin-right: auto;

	}

	.chk {
	    max-width: 100%;
	    font-family: 'Nanum Pen Script';
	    text-align: centre;
	    font-size: 500%;
	    margin: 0;
	    padding: 0;
	}

	.section {
	    display: grid;
	    grid-template-columns: 1fr 1fr;
	    grid-gap: 20px
	}

	.centre {
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	    width: 30%;

	}

	.post_head {
	    font: "Helvetica";
	    font-size: 200%;
	}


	@media only screen and (max-width: 800px) {
	    .chk {
	        max-width: 100%;
	        font-family: 'Nanum Pen Script';
	        text-align: centre;
	        font-size: 250%;
	        line-height: 1.2;
	        margin: 0;
	        padding: 0;
	    }

	    .post_body {
	        max-width: 120%;
	        font-size: 103%;
	        font: "Georgia";
	        background-color: #f8f9f9;
	        line-height: 1.4;
	    }

	    .disclaimer {
	        font-size: 60%;

	    }

	    .post_body {
	        background-color: purple;
	    }

	    .section {
	        display: grid;
	        grid-template-columns: 1fr;
	        grid-gap: 20px;
	        font-size: 80%;

	    }

	}
