	body{
    max-width: 75%;
    margin: 0 auto;
    font-size: 125%;
    font:125% Segoe UI;
    }


.chk{
	text-align: centre;
	font-size: 300%;
}

.box{
	margin-bottom:20px;
	padding:20px;
	border: 2px solid #b3b3b3;
	border-radius: 15px;
}

a{
	text-decoration: none;
	color: #404040;
}

.posttitle{
	color: #333
}

img{
	max-width: 100%
}
