---
---
<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% include google_analytics.html %}

<head>

    <title>{{page.title}} </title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap');

    </style>

</head>
<header>
    <h1 class="chk"> <a class="home_url" href="{{site.url}}"> Sai's blog</a></h1>
</header>

<body>



    {{content}}

</body>

</html>
