---
---
<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    {% include google_analytics.html %}

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <script src="https://zetabase.io/static/assets/js/zetabase-web-latest.js"></script>
    <script src="https://zetabase.io/static/assets/js/comments.js"></script>
    <link href="https://zetabase.io/static/assets/css/commentsjs-default.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js"></script>






    <title>{{page.title}} </title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap');

    </style>

</head>
<header>
    <h1 class="chk"> <a class="home_url" href="{{site.url}}"> Sai's blog</a></h1>
</header>

<body>



    {{content}}

</body>

</html>
