---
---
<!DOCTYPE html>
<html>


<meta name="viewport" content="width=device-width, initial-scale=1.0">


<head>
    {% include google_analytics.html %}
    <title>{{page.title}} </title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap');

    </style>



</head>
<header>
    <h1 class="chk"> <a class="home_url" href="{{site.url}}"> Home</a></h1>
</header>

<body>


    <h1 class="post_head">{{page.title}}</h1>

    <section class="post_body">

        {{content}}

    </section>


    <!-- here comments page added --->

</body>


<!-- // for dashed line -->
<br><br>
<hr style="border: 1px dashed #000; width: 50%; margin: auto; margin-top: 5%; margin-bottom: 5%;" />
<br><br>




<h3>More from Sai's blog</h3>
<div class="post_sug">
    {% for post in site.tags.fornowsuggested %}

    <div class="noborder_box">
        <a class="home_url" href="{{post.trueurl}}">
            <img src="{{post.image}}" alt="test image">

            <h2 class="posttitle">{{post.title}}</h2>

            <p class="disclaimer">
                [This will redirect you to Medium.com]

            </p>
        </a>
    </div>

    {% endfor %}


</div>

</html>
